.App {
  text-align: center;
}

.big{
  font-size: 5em;
}
.small{
  font-size: 2em;
}
section{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 30px;
}
section img{
  width: 100%;
}

.line-through{
  text-decoration: line-through;
}
.blue{
  background: lightblue;
}
.underline{
  text-decoration:underline
}